In [92]:
import pandas as pd

df = pd.read_csv("notas_alunos.csv", sep=";")
lines = len(list(df))

df["média"] = 0
df["situação"] = ""

media = (df["nota_1"] + df["nota_2"]) / 2
geral = df["nota_1"] + df["nota_2"]
faltas = df["faltas"]

df.loc[faltas > 5, "situação"] = "reprovado"
df.loc[media < 7, "situação"] = "reprovado"
df.loc[media >= 7, "situação"] = "aprovado"
df.loc[faltas > 5, "situação"] = "reprovado"
df.loc[media < 7, "média"] = media
df.loc[media >= 7, "média"] = media
df.to_csv("alunos_situacao.csv", index = False)


maior_numero_faltas = df["faltas"].max()
media_geral = df["média"].median()
maior_media = df["média"].max()

print("maior número de faltas: " + str(maior_numero_faltas))
print("média geral dos alunos: " + str(media_geral))
print("maior média: " + str(maior_media))

df.head()

maior número de faltas: 9
média geral dos alunos: 6.75
7.0

     nomes  nota_1  nota_2  faltas  média   situação
0  aluno_1       7       7       1    7.0   aprovado
1  aluno_2       3      10       7    6.5  reprovado
2  aluno_3       9       4       2    6.5  reprovado
3  aluno_4      10       6       9    8.0  reprovado

In [78]:
import pandas as pd

df = pd.read_csv("teste.csv", sep=";")
df["situação"] = ""

#df.loc[df["idade"] >= 18, "situação"] = "adulto"
#df.loc[df["idade"] < 18, "situação"] = "menor de idade"

df.head()

       nome  idade  curso situação
0    adriel     18     TI
1    rebeca     17  artes
2  clarinha     15  raiva

In [48]:
import pandas as pd

df = pd.read_csv("teste.csv", sep=";")
atv = df["idade"].sum()
print("Soma das idades: " + str(atv))
df.head()

Soma das idades: 50

       nome  idade  curso
0    adriel     18     TI
1    rebeca     17  artes
2  clarinha     15  raiva

In [30]:
import pandas as pd

df = pd.read_csv("teste.csv", sep=";")
maxAge = df["idade"].max()
print("Idade máxima: " + str(maxAge))
df.head()

Idade máxima: 18

       nome  idade  curso
0    adriel     18     TI
1    rebeca     17  artes
2  clarinha     15  raiva

In [3]:
import pandas as pd

df = pd.read_csv("teste.csv", sep=";")
minAge = df["idade"].min()
print("Idade mínima: " + str(minAge))
df.head()

Idade mínima: 15

       nome  idade  curso
0    adriel     18     TI
1    rebeca     17  artes
2  clarinha     15  raiva

In [31]:
import pandas as pd

df = pd.read_csv("teste.csv", sep=";")
media = df["idade"].median()
print("Média de idades: " + str(media))
df.head()

Média de idades: 17.0

       nome  idade  curso
0    adriel     18     TI
1    rebeca     17  artes
2  clarinha     15  raiva